# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

/ffmpeg
/ffmpeg/ffmpeg-4.2.1-win64-static.zip
/ffmpeg/ffmpeg-3.2-win32-dev.zip
/ffmpeg/ffmpeg-3.2-win32-shared.zip
/ffmpeg/ffmpeg-3.2-win64-dev.zip
/ffmpeg/ffmpeg-3.2-win64-shared.zip
/ffmpeg/ffmpeg-4.2.1-win32-static.zip
/*.7z
/*.zip
/*.8-pre1
/*.exe
/3rdparty/ffmpeg/win32
/3rdparty/ffmpeg/win64
/*.c55fe5b
